Neste ficheiro vamos fazer a avaliação para as idades. Primeiro é preciso saber em que diretoria estamos:

In [1]:
import numpy as np
import pandas as pd
import os

os.getcwd()

'C:\\Users\\nequi'

Para mudarmos de diretoria,

In [2]:
import numpy as np
import pandas as pd
import os

os.chdir("/Users")
os.getcwd()
os.chdir("/Users/nequi")
os.getcwd()

'C:\\Users\\nequi'

Importar o ficheiro csv, relativo as idades

In [3]:
import numpy as np
import pandas as pd
import os

dados = pd.read_csv("exerciciocasa1.csv")

Para ver se há algum problema,

In [4]:
import numpy as np
import pandas as pd
import os

dados = pd.read_csv("exerciciocasa1.csv")     #ler os dados
dados.describe()

               N   Paciente     partos     Idades
count  40.000000  40.000000  40.000000  40.000000
mean   19.500000  20.500000   2.225000  49.875000
std    11.690452  11.690452   1.527315  11.721529
min     0.000000   1.000000   0.000000  30.000000
25%     9.750000  10.750000   1.000000  41.500000
50%    19.500000  20.500000   2.000000  47.000000
75%    29.250000  30.250000   3.000000  60.250000
max    39.000000  40.000000   8.000000  69.000000

E também uma previa verificação do ficheiro,

In [5]:
import numpy as np
import pandas as pd
import os

dados = pd.read_csv("exerciciocasa1.csv")     #ler os dados
dados.head(40)

     N  Paciente  partos  Idades
0    0         1       4      68
1    1         2       0      48
2    2         3       2      46
3    3         4       3      45
4    4         5       2      56
5    5         6       2      67
6    6         7       3      34
7    7         8       3      56
8    8         9       0      34
9    9        10       3      50
10  10        11       1      34
11  11        12       2      66
12  12        13       8      57
13  13        14       3      46
14  14        15       4      42
15  15        16       2      34
16  16        17       1      62
17  17        18       2      36
18  18        19       2      47
19  19        20       2      68
20  20        21       2      66
21  21        22       2      69
22  22        23       3      47
23  23        24       2      38
24  24        25       2      33
25  25        26       3      47
26  26        27       0      63
27  27        28       3      45
28  28        29       2      60
29  29        30       4      60
30  30        31       0      40
31  31        32       1      36
32  32        33       3      47
33  33        34       5      57
34  34        35       1      61
35  35        36       1      46
36  36        37       0      62
37  37        38       3      49
38  38        39       2      30
39  39        40       1      43

Calculo da moda, média e mediana com o phyton, utilizando o "statistics"

In [13]:
import os
import math
import numpy as np
import pandas as pd
import statistics

dados = pd.read_csv("exerciciocasa1.csv") 
M1= statistics.mean(dados["Idades"])
M2 = statistics.median(dados["Idades"])

#print dos valores obtidos, 
print("A media da variável Idades é aproximadamente % s" %int(round(M1)))
print("A mediana da variável Idades é % s" % M2)
#A moda terá de ser calculada de outra forma

A media da variável Idades é aproximadamente 50
A mediana da variável Idades é 47.0

Fazendo o código sem utilizar o statistics,

Para a média,

In [15]:
import os
import math
import numpy as np
import pandas as pd

dados = pd.read_csv("exerciciocasa1.csv") 
Ntotal =len(dados)                        # número de dados
soma=sum(dados["Idades"])                   #calcular a soma
média=soma/Ntotal           
print("A média da variável Idades é % s" % int(round(média)))

A média da variável Idades é 50

Utilizadando as frequências para o cálculo da média,

In [17]:
import os
import math
import numpy as np
import pandas as pd

dados = pd.read_csv("exerciciocasa1.csv") 
Idades = dados["Idades"].value_counts().reset_index(name='Count').rename(columns={'Col1':'Col_value'}) 
Idades.columns=['Idades','contagem']
Ntotal=sum(Idades["contagem"])                # usamos a frequência total
soma=sum(Idades["Idades"]*Idades["contagem"])     #somamos ponderando com frequências
média=soma/Ntotal
print("A média da variável Idades é % s." % int(round(média)))

A média da variável Idades é 50.

Calculando a mediana,

In [40]:
import os
import math
import numpy as np
import pandas as pd

dados = pd.read_csv("exerciciocasa1.csv") 
Ntotal=len(dados)
Idades=dados["Idades"].sort_values().reset_index(drop=True)            # precisamos de ordenar os dados

if Ntotal % 2 == 0:                                # casos de distribuição par
    medianax=Idades[Ntotal//2-1]
    medianay=Idades[Ntotal//2 ]                  # buscar os dois valores centrais
    mediana= (medianax+medianay)/2
else:
    mediana=Idades[Ntotal//2]
print("A mediana da variável Idades é % s" % mediana)

A mediana da variável Idades é 47.0

Cálculo para a moda,

In [43]:
import os
import math
import numpy as np
import pandas as pd

dados = pd.read_csv("exerciciocasa1.csv") 
Idades = dados["Idades"].value_counts().reset_index(name='Count').rename(columns={'Col1':'Col_value'}) 
Idades.columns=['Idades','Frequências']
v=[]
maxi=0 
for index, row in Idades.iterrows():                   #vai ver qual é o máximo associado à frequência
    if row["Frequências"] > maxi:                      #se for maior é esse valor que fica
          maxi=row["Frequências"]
for index, row in Idades.iterrows():                   #depois vamos encontrar o valor das idades associadas a essa freq.
    if row["Frequências"] == maxi:
          v.append(row["Idades"])

print("As modas da variável Idades são % s." % v)

As modas da variável Idades são [47, 34].

Comparando os valores do excel, com os valores obtidos no phyton para a média,moda e mediana, obtiveram-se resultados satisfatórios.
Agora, como o Python permite também determinar valores de localização não central - os quantis, vamos determinar os quantis, percentis e decis. Utilizando o "statistics".

In [19]:
import os
import math
import numpy as np
import pandas as pd
import statistics

percent=[0]
n=0.00
for i in range (1,100):
    n=n+0.01
    percent.append(n)
    
dados = pd.read_csv("exerciciocasa1.csv") 
percentis = dados["Idades"].quantile(percent).reset_index()         #podemos arredondar
percentis.columns=['percentil','valor']
print("Valores para os percentis das Idades, ")
percentis

Valores para os percentis das Idades,

    percentil  valor
0        0.00  30.00
1        0.01  31.17
2        0.02  32.34
3        0.03  33.17
4        0.04  33.56
..        ...    ...
95       0.95  68.00
96       0.96  68.00
97       0.97  68.00
98       0.98  68.22
99       0.99  68.61

[100 rows x 2 columns]

Para os quartis,

In [20]:
import os
import math
import numpy as np
import pandas as pd
import statistics

percent=[0]
n=0.00
for i in range (1,100):
    n=n+0.01
    percent.append(n)
    
dados = pd.read_csv("exerciciocasa1.csv") 
quartis = dados["Idades"].quantile([0,0.25,0.5,0.75,1]).reset_index()
quartis.columns=['quartil','valor']
print("Valores para os quartis das Idades, ")
quartis

Valores para os quartis das Idades,

   quartil  valor
0     0.00  30.00
1     0.25  41.50
2     0.50  47.00
3     0.75  60.25
4     1.00  69.00

E para os decis,

In [21]:
import os
import math
import numpy as np
import pandas as pd
import statistics

percent=[0]
n=0.00
for i in range (1,100):
    n=n+0.01
    percent.append(n)

dados = pd.read_csv("exerciciocasa1.csv") 
decis = dados["Idades"].quantile([0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]).reset_index()
percentis = dados["Idades"].quantile(percent).round(decimals=0).reset_index()

decis.columns=['decil','valor']
percentis.columns=['percentil','valor']
print("Valores para os decis das Idades, ")
decis

Valores para os decis das Idades,

    decil  valor
0     0.0   30.0
1     0.1   34.0
2     0.2   37.6
3     0.3   44.4
4     0.4   46.0
5     0.5   47.0
6     0.6   52.4
7     0.7   57.9
8     0.8   62.0
9     0.9   66.1
10    1.0   69.0

Comparando os valores do excel, com os valores obtidos no phyton para os quartis, percentis e decis, obtiveram-se resultados satisfatórios.